<%= turbo_frame_tag "content" do %>
  <h1 class="text-4xl">Modification du Système Constructif</h1>

  <%= render 'form', construction_system: @construction_system %>
  <p class="bg-gray-200 text-center">ℹ️ Pour sélectionner plusieurs matériaux maintenir <span class="italic">cmd</span> sur mac ou <span class="italic">Ctrl</span> sur windows</p>

  <%= link_to 'Show', @construction_system %> |
  <%= link_to 'Back', :back %>

<%end%>
