@import "config/index";
@import "components/index";



 body {
  margin: 0;
  background-color: $background-color;
  font-family: 'Poppins', sans-serif;;
  font-size: 16px;
  color: $text;
}
.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
