
<div class="flex flex-col ">
  <h1 class="font-bold text-4xl text-center">Matériaux</h1>

  <p class="fa fa-bars text-center">Tous les matériaux écologiques réunis au même endroit</p>

  <%= button_to "Ajouter un Matériau", new_material_path, method: :get,
    class:"bg-green-600 rounded-md grow-0 mt-2 mb-3 py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700" if policy(Material).create? %>

</div>

<!--  Card Container -->
<%= render "shared/card", items: @materials %>


